<div class="sidebar-background" *ngIf="sidebar">
</div>
<button class="sidebar-fixed-toggler " id="sidebar " (click)="showSideBar() " [ngClass]="{ 'admin-sidebar-btn': routeLink.includes(
    'admin')}">
    <i class="fa fa-bars "></i>
</button>
<div class=" menu-wrapper " [ngStyle]="{ 'left':sidebar ? '0px' : '-65vh' } ">

    <div class="profile-info ">

    </div>
    <div class="menu-list">
        <ng-container *ngFor="let menu of menuList">
            <div class="menu-item" routerLink="{{ menu.route}}" [ngClass]="{ 'menu-active': routeLink == menu.route}" (click)="closeSideBar()">
                <div class="menu-svg" [innerHTML]="menu.svg | safe: 'html'"></div>
                <p>{{menu.title}}</p>
            </div>
        </ng-container>
        <hr>
        <div class="title-bar" (click)="createWorkspaces()">
            <h4>Workspaces</h4>
            <div class="plus" (click)="createWorkspaces()">+</div>
        </div>
        <section *ngFor="let workspaces of workspaces">
            <div class="menu-item">
                <!-- <div class="menu-svg "><svg xmlns="http://www.w3.org/2000/svg " viewBox="0 0 64 64 ">
                    <g id="Layer_38 " data-name="Layer 38 ">
                        <path d="M57,6.25H39.25V4a1.25,1.25,0,0,0-.46-1,1.22,1.22,0,0,0-1-.25L11.14,8.28a4.28,4.28,0,0,0-3.39,4.16V51.56a4.28,4.28,0,0,0,3.39,4.16l26.61,5.5A1.25,1.25,0,0,0,39.25,60V57.75H57a4.26,4.26,0,0,0,4.25-4.25v-43A4.26,4.26,0,0,0,57,6.25ZM36.75,58.46l-25.1-5.19a1.76,1.76,0,0,1-1.4-1.71V12.44a1.76,1.76,0,0,1,1.4-1.71l25.1-5.19Zm22-5A1.76,1.76,0,0,1,57,55.25H39.25V8.75H57a1.76,1.76,0,0,1,1.75,1.75Z
    " />
                        <path
                            d="M30,36.25A4.25,4.25,0,1,0,25.75,32,4.26,4.26,0,0,0,30,36.25Zm0-6A1.75,1.75,0,1,1,28.25,32,1.76,1.76,0,0,1,30,30.25Z " />
                    </g>
                </svg></div> -->
                <div class="menu-svg ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet-fill" viewBox="0 0 16 16"> <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/> <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/> </svg>
                </div>
                <p>{{workspaces.workspaceName}}</p>
            </div>
            <ul class="work-ul">
                <li (click)="goBoard(workspaces.workspaceId)">Board</li>
                <li (click)="goMember(workspaces.workspaceId)">Member</li>
                <!-- <li>View</li> -->
            </ul>
        </section>
        
    </div>
</div>