.screen-container {
    margin-left: 250px;
    padding-left: 10px;
    transition: all .35s;
}

.screen-container-inactive {
    margin-left: 0px;
    padding-left: 0px;
    transition: all .35s;
}

@media only screen and (max-width: 768px) {
    .screen-container {
        margin-left: 0px;
        padding-left: 0px;
        transition: all .35s;
    }
}