<div class="style-modal-confirm">
    <div class="">

        <div class=" m-auto text-center">
            <div class="fade show" role="alert">
                <i class="fa fa-check-circle info-icon" aria-hidden="true"></i>
                <p id="message" class="mmfont"></p>
                <div class="mt-20 text-left">
                    <button type="button" data-dismiss="modal" class="popup-btn" (click)="closeModal()">Ok</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="style-modal-background-confirm"></div>