<div class="style-modal-confirm">
    <div class="">
<form ></form>
        <div class=" m-auto text-center">
            <div class="fade show" role="alert" style="position: relative">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="closeModal()">×</span>
                </button>
                <p class="text-invite">Invite to Workspace</p>

                <form [formGroup]="form" (ngSubmit)="inviteMember()">
                <input type="email" name="email" placeholder="Email address" class="primary-input" #email formControlName="member_email" required [ngClass]="{'is-invalid': isSubmitted && f['member_email'].errors}" autocomplete="off"/>
                <div *ngIf="isSubmitted && f['member_email'].errors" class="invalid-feedback">
                    <small *ngIf="f['member_email'].errors['email']">* Wrong Email Format</small>
                    <small *ngIf="f['member_email'].errors['required']">* Member's email is required</small>
                </div>
                <br> <br>
                <div class="mt-20 text-left">
                    <button type="submit"  data-dismiss="modal" class="popup-btn">Invite</button>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="style-modal-background-confirm"></div>